<br>

<div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="card" style="width: 24rem;">
        <div class="card-body bg-dark">
            <h5 class="card-title text-center mb-4">Iniciar Sesión</h5>
            <form (ngSubmit)="onLogin()">
                <div class="mb-3">
                    <label for="correo" class="form-label">Correo Electrónico</label>
                    <input type="correo" class="form-control" id="correo" placeholder="correo@ejemplo.com" [(ngModel)]="correo" name="correo" required>
                </div>

                <div class="mb-3">
                    <label for="contraseña" class="form-label">Contraseña</label>
                    <input type="contraseña" class="form-control" id="contraseña" placeholder="Contraseña" [(ngModel)]="contrase" name="contraseña" required>
                </div>
                <div class="d-grid">
                    <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
                </div>
            </form>
        </div>
    </div>
</div>