<p>acercade works!</p>
<body class="d-flex justify-content-center align-items-center" style="min-height: 100vh;">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-4">
          <div class="card">
            <div class="card-body text-center bg-dark">
              <div class="mb-4">
                <p>Software utilizado:</p>
                <ul class="list-unstyled text-left">
                  <li>NestJS</li>
                  <li>Angular</li>
                  <li>Docker</li>
                  <li>Visual Studio Code</li>
                </ul>
              </div>
            </div>
          </div>
          <br>
          <div class="col-md-12">
            <div class="card">
              <div class="card-body text-center bg-dark">
                <div class="mb-4">
                  <p>Equipo de desarollo:</p>
                  <ul class="list-unstyled text-left">
                    <li>Neo Armada</li>
                    <li>Chat GPT</li>
                    <li>Microsoft Compilot</li>
                    <li>MiduDev</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>