<br>
<div class="container py-5">
  <h1 class="bg-dark p-3 rounded text-white text-center">Listado de Todos los Animes</h1>

  <!--Impresion de cards con los datos de los Animes-->
  <div class="container mt-5">
    <div class="row">
      @for(anime of animes; track $index){
        <div class="col-md-4 mb-4">
          <div class="card h-100">
            <div class="card-body d-flex flex-column justify-content-between">
              <div class="mb-4">
             
                <img src="{{anime.imagen}}" alt="{{ anime.nombre }}" class="img-fluid" width="120px" height="120px">
                <h3>{{ anime.nombre }}</h3>
                <p>{{ anime.descripcion }}</p>
              </div>  
            </div>
          </div>
        </div>
      }
    </div>
  </div>
</div>