<br>
<div class="container mt-5" *ngIf="anime">
  <div class="row">
    
    <div class="col-md-4 mb-4">
      <div class="card h-100 bg-dark">
        <div class="card-body d-flex flex-column justify-content-between">
          <div class="mb-4">
            <img src="{{anime.imagen}}" alt="{{anime.nombre}}" class="img-fluid" width="120px" height="120px">
            <h3>{{anime.nombre}}</h3>
            <p>{{anime.descripcion}}</p>
            <p>Año: {{anime.anio}}</p>
            <p>Valor positivos: {{positivos}}</p>
            <p>Valor negativos: {{negativos}}</p>
          </div>  
          
          <!-- Formulario de comentarios -->
          <form (ngSubmit)="submitForm()" #comentarioForm="ngForm">
            <div class="mb-3">
              <input type="hidden" name="anime" [ngModel]="anime.id">
            </div>
            <div class="mb-3">
              <label for="usuario" class="form-label">Usuario</label>
              <input type="text" class="form-control" id="usuario" name="usuario" required [(ngModel)]="comentario.usuario">
            </div>
            <div class="mb-3">
              <label for="tipo" class="form-label">Tipo</label>
              <select class="form-select" id="tipo" name="tipo" required [(ngModel)]="comentario.tipo">
                <option [ngValue]="true">Positivo</option>
                <option [ngValue]="false">Negativo</option>
              </select>
            </div>
            <div class="mb-3">
              <label for="comentario" class="form-label">Comentario</label>
              <textarea class="form-control" id="comentario" name="comentario" rows="3" required [(ngModel)]="comentario.comentario"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Enviar Comentario</button>
          </form>
        </div>
      </div>
    </div>

  </div>


  <div class="container mt-5">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <div *ngFor="let comentario of comentarios" class="card mb-3">
          <div class="card-body bg-dark">
            <h5 class="card-title">{{ comentario.usuario }}</h5>
            <p class="card-text">{{ comentario.comentario }}</p>
            <p class="card-text">{{ comentario.tipo ? 'Positivo' : 'Negativo' }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  
</div>