<header class="fixed-top bg-dark d-flex justify-content-between align-items-center px-4 py-2">

    <nav>
        <ul class="list-inline mb-0">
          <li class="list-inline-item"><a routerLink="/inicio" class="text-light">  <img src="assets/img/logo.jpg" alt="Logo" width="50px" height="50px" style="border-radius: 50%;"></a></li>
          <li class="list-inline-item"><a routerLink="/acercade" class="text-light">Proyecto</a></li>
          <li class="list-inline-item"><a routerLink="/contacto" class="text-light">Contacto</a></li>
          <li class="list-inline-item"><a routerLink="/snakegame" class="text-light">Snake</a></li>
          <li class="list-inline-item"><a routerLink="/login" class="text-light">Login</a></li>
          <li class="list-inline-item"><a href="http://127.0.0.1:8000" class="text-light">Admin</a></li>
        </ul>
    </nav>
</header>
